.container {
  margin-top: 40px;
}

.input {
  border: 1px solid blueviolet;
  outline: none;
  border-radius: 5px;
  width: 180px;
  height: 20px;
  color: blueviolet;
}

.botonagregar {
  border-radius: 5px;
  border: 2px solid blueviolet;
  background-color: aliceblue;
  padding: 1px 0.5rem;
}
.botonagregar:hover {
  border-radius: 5px;
  background-color: rgb(186, 129, 239);
  padding: 0.2rem 0.5rem;
  color: white;
}

.vacio {
  color: brown;
  font-size: 0.8em;
}

.mt-8 {
  margin-top: 5px;
}
